html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
li[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
li[class],
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


@import "mainFont.css";

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #373a39;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list {
  display: flex;
}

.menu__list-item+.menu__list-item {
  margin-left: 32px;
}

.menu__list-link {
  padding: 0 9px 9px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #373a39;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.6px;
  transition: all 0.5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #fcbb08;
}

.header__content {
  background-image: url("../assets/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 93px);
}

.header__title {
  font-size: 72px;
  font-weight: 500;
  line-height: 88px;
  color: #fff;
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 130px;
}

.header__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #fcbb08;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 62px;
}

.about {
  border-color: #f6f8fa;
  padding: 150px 0 144px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 700;
  letter-spacing: -1.65px;
  font-family: "Montserrat", sans-serif;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.about__title {
  font-size: 48px;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #fcbb08;
  bottom: 0;
  left: 0;
}

.about__text p {
  max-width: 770px;
  margin-bottom: 16px;
}

.expertise {
  padding: 140px 0 160px;
}

.expertise__title {
  margin-bottom: 90px;
}

.expertise__inner {
  display: flex;
  margin-bottom: 110px;
}

.expertise__info {
  width: 370px;
  margin-right: 30px;
  flex: none;
  margin-top: 10px;
}

.expertise__info-item {
  border-top: 2px solid #1d1d1d;
  padding: 2px 0 28px;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1d1d1d;
  position: relative;
}

.expertise__info-item span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px;
}

.expertise__info-item span::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #f0f0f0;
  right: -7px;
  top: -2px;
  width: 100%;
}

.expertise__text p {
  margin-bottom: 25px;
}

.expertise__items {
  display: flex;
  justify-content: space-between;
}

.expertise__item {
  width: 370px;
  padding-left: 85px;
  position: relative;
}

.expertise__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.expertise__item--design::before {
  background-image: url("../assets/design-icon.svg");
}

.expertise__item--dev::before {
  background-image: url("../assets/monitor-icon.svg");
}

.expertise__item--marketing::before {
  background-image: url("../assets/speaker-icon.svg");
}

.expertise__item-title {
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.expertise__item-text {
  color: #777;
}

.magic {
  background-color: #f6f8fa;
  background-image: url(../assets/magic-bg.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left 82%;
}

.magic__inner {
  max-width: 470px;
  margin-left: auto;
  padding: 100px 0 215px;
}

.magic__title {
  margin-bottom: 64px;
}

.magic__text p {
  margin-bottom: 25px;
}

.portfolio {
  padding: 140px 0 165px;
}

.portfolio__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.portfolio__filter-btn {
  margin-right: 40px;
}

.portfolio__btn {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #333;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 0 4px 5px;
  margin-right: 25px;
  cursor: pointer;
}

.mixitup-control-active {
  border-bottom: 1px solid #fcbb08;
}

.portfolio__content {
  column-count: 4;
  column-gap: 22px;
}

.portfolio__item {
  margin-bottom: 22px;
  position: relative;
}

.portfolio__item img {
  width: 100%;
}

.portfolio__item-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  color: #ffffff;
  background-color: #4c4a4a;
  border: 12px solid #777;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.portfolio__item:hover .portfolio__item-link {
  opacity: 1;
}

.portfolio__add {
  display: block;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  text-align: center;
  text-transform: uppercase;
  padding: 42px 15px 41px;
  background-color: #f6f8fa;
  margin-bottom: 130px;
}

.blockquote {
  max-width: 650px;
  margin: 0 auto 148px;
  text-align: center;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
}

.block__author {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  color: #9e9e9e;
  padding-top: 51px;
}

.portfolio__video {
  background-image: url("../assets/video-bg.jpg");
  height: 324px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 165px;
}

.portfolio__video-link {
  cursor: pointer;
  z-index: 10;
}

.popup__body-video {
  background-color: rgba(251, 232, 108, 0.35);
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.popup__body-video.active {
  opacity: 1;
  visibility: visible;
  z-index: 11;
}

.clip {
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.clip.active {
  opacity: 1;
  z-index: 12;
}

.popup__close {
  background-image: url(../assets/close-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  right: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.popup__close:hover {
  transform: scale(1.2);
}

.portfolio__numbers {
  display: flex;
  justify-content: space-around;
}

.portfolio__numbers-item {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 9px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
}

.portfolio__numbers-item span {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

/* slider */

.slider-blog {
  position: relative;
  background-color: #F8F6FA;
}


.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn__left {
  left: 2%;
  right: auto;
}

.btn__right {
  right: 2%;
  left: auto;
}

.carousel {
  position: relative;
  padding-top: 359px;
  width: 100%;
  min-height: 840px;
  overflow: hidden;
}



.item__title {
  min-width: 704px;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #242121;
  margin-bottom: 10px;
}

.item__subtitle {
  margin: 0;
  max-width: 575px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.item {
  display: none;
  position: absolute;
  animation: 0.7s ease-in-out;
}

.item__active,
.next {
  display: block;
  position: absolute;
}

.next {
  position: absolute;
  padding-top: 359px;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.slider__dots {
  position: absolute;
  left: 10px;
  bottom: 150px;
}

.dot {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: #777;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot__active,
dot:hover {
  background-color: #242121;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;

}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

.team__title {
  padding-top: 120px;
}

.team__items {
  padding: 102px 0 132px 0;
  display: flex;
  justify-content: space-between;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__name {
  padding-top: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.team__position {
  padding-top: 13px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #373A39;
}

.pricing {
  background-color: #f6f8fa;
  padding: 15px 0 160px;
}

.pricing__title {
  margin-bottom: 90px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
}

ul.pricing__item {
  background-color: #fff;
  text-align: center;
  padding: 24px 25px 50px;
  width: 370px;
}

.pricing__item li {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin-bottom: 30px;
}

.pricing__item .pricing__item-name {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}

.pricing__item .pricing__item-num {
  font-weight: 300;
  font-size: 80px;
  line-height: 109px;
  margin-bottom: 50px;
}

.pricing__item-num sup {
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
}

.pricing__item-link {
  margin-top: 70px;
  display: block;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  text-decoration: none;
}

.clients {
  padding: 70px 0 95px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connection {
  padding: 145px 0 160px;
  background-image: url('../assets/map.jpg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right 65%;
}

.connection__title {
  margin-bottom: 80px;
}

.form {
  max-width: 570px;
}

.form input,
.form textarea {
  border: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #373A39;
  padding: 16px 0;
  margin-bottom: 16px;
  font-size: 24px;
}

.form input::placeholder,
.form textarea::placeholder {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3.7px;
  color: #B8B8B8;
  text-transform: uppercase;
}

.form textarea {
  min-height: 140px;
  resize: none;
}

.form button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  padding: 17px 70px 15px;
  border: none;
  background: #242121;
  cursor: pointer;
  margin-top: 40px;
}

.footer {
  padding: 110px 0 0px;
  background-color: #333;
  text-align: center;
}

.footer__logo {
  display: inline-block;
  padding: 0 35px 4px;
  border-bottom: 2px solid #FCBB08;
  margin-bottom: 70px;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}


.footer__social-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px;
}

.footer__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 65px 0 57px;
}

.phone,
.email {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.go-top {
  display: inline-block;
  margin-bottom: 60px;
}

.footer__copy {
  text-align: center;
  background: #2A2C2B;
  padding: 40px 0;
}

.footer__copy p {
  color: #CCCCCC;
}